.PlayerGrid {
  transform: rotate(45deg);
  max-width: 55vw;
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.PlayerCell {
  width: 160px;
  height: 160px;
  border: 2px solid white;
  background-color: #00d091;
  animation: fadein 0.5s;
  transition: all 0.3s ease-in-out;
}

.PlayerCell-content {
  text-align: center;
  margin-top: 20%;
  font-size: 14px;
  overflow: auto;
  transform: rotate(-45deg);
}

.PlayerCell-content p {
  margin-bottom: 2px;
}

.eliminated {
  background-color: black;
}

.victor:hover {
  background-color: #0a93eb;
}

.remove:hover {
  background-color: #3b4147;
}
